# Подсчет частотности пар товаров в продуктовых чеках

В файле содержится информация о покупках людей. 

* id – означает покупку (в одну покупку входят все товары, купленные пользователем во время 1 похода в магазин)
* Товар – наименование товара
* Количество – число единиц купленного товара

Воспользуйтесь этими данными и выясните, какие пары товаров пользователи чаще всего покупают вместе. По сути, вам необходимо найти паттерны покупок, что позволит оптимизировать размещение продуктов в магазине, для удобства пользователей и увеличения выручки.

In [1]:
%%capture
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a database with name `db` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS db;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE db;'

In [2]:
import psycopg2
from psycopg2 import Error
import pandas as pd

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
user = 'postgres'
password = 'postgres'
host = 'localhost'
post = 5432
db = 'db'

In [4]:
point = 'postgresql://{}:{}@{}:{}/{}'.format(user, password, host, post, db)
print(point)

postgresql://postgres:postgres@localhost:5432/db

In [5]:
def create_table_and_insert_values() -> None:
    """Создать таблицу в БД """
    try:
        conn = psycopg2.connect(point)
        cursor = conn.cursor()
        cursor.execute(
            """CREATE TABLE IF NOT EXISTS sales (check_number SERIAL NOT NULL,
				                                         product_name VARCHAR (25) NOT NULL,
				                                         quantity SERIAL NOT NULL);
              INSERT INTO sales (check_number, product_name, quantity)
                          VALUES (1, 'шоколад', 1),
	                               (1,'чай',1),
                                 (1, 'конфеты', 2),
                                 (2, 'чай', 2),
                                 (2, 'шоколад', 3),
                                 (3, 'хлеб', 1),
                                 (3, 'молоко', 1),
                                 (4, 'хлеб', 2),
                                 (4, 'колбаса', 1),
                                 (5, 'хлеб', 1),
                                 (5, 'колбаса', 1),
                                 (5, 'помидоры', 1),
                                 (5, 'огурцы', 2),
                                 (5, 'майонез', 1);"""
                       )
        conn.commit()
    except (Exception, Error) as error:
        print("Ошибка при работе с PostgreSQL", error)
    finally:
        if conn:
            cursor.close()
            conn.close()
            print("Соединение с PostgreSQL закрыто")

In [6]:
create_table_and_insert_values()

Соединение с PostgreSQL закрыто

In [7]:
def select_postgresql(sql: str):
    """Запрос данных из БД"""
    conn = psycopg2.connect(point)
    return pd.read_sql(sql, conn)

In [8]:
sql = """with tbl as (select s.*, row_number() over (order by s.product_name) as id
                      from (select distinct s.product_name
                          from sales as s) as s),
              tbl_two_products as (select t1.product_name as product_1, t2.product_name as product_2
                                   from tbl as t1, tbl as t2
                                   where (t1.id<>t2.id) and (t1.id<t2.id)) 
        select t.product_1,t.product_2, count(*) as amount
        from (select pr.*, s.check_number
            from tbl_two_products as pr, sales as s
            where pr.product_1 = s.product_name or pr.product_2 = s.product_name
            group by pr.product_1, pr.product_2, s.check_number
            having count(*)=2) as t
        group by t.product_1, t.product_2
        order by count(*) desc
        limit 5"""

In [9]:
select_postgresql(sql)

  product_1 product_2  amount
0       чай   шоколад       2
1   колбаса      хлеб       2
2   колбаса  помидоры       1
3   конфеты       чай       1
4   колбаса    огурцы       1