# Test SQLModel

### https://github.com/tiangolo/sqlmodel

In [1]:
!pip install sqlmodel

Requirement already satisfied: sqlmodel in /usr/local/lib/python3.7/dist-packages (0.0.4)
Requirement already satisfied: SQLAlchemy<1.5.0,>=1.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlmodel) (1.4.22)
Requirement already satisfied: pydantic<2.0.0,>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from sqlmodel) (1.8.2)
Requirement already satisfied: sqlalchemy2-stubs in /usr/local/lib/python3.7/dist-packages (from sqlmodel) (0.0.2a12)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic<2.0.0,>=1.8.2->sqlmodel) (3.7.4.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy<1.5.0,>=1.4.17->sqlmodel) (1.1.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy<1.5.0,>=1.4.17->sqlmodel) (4.6.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy<1.5.0,>=1.4.17->sqlmodel) (3.5.0)

In [2]:
from typing import Optional
from sqlmodel import Field, Session, SQLModel, create_engine, select

In [3]:
class Manager(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str
    region: str
    product_group: Optional[int] = None

In [4]:
manager_1 = Manager(name="James", region="east", product_group="timber")
manager_2 = Manager(name="John", region="north", product_group="construction tools")
manager_3 = Manager(name="Robert", region="south", product_group="metal profiles")
manager_4 = Manager(name="Michael", region="west", product_group="roofing")
manager_5 = Manager(name="William", region="center", product_group="electrics")

In [5]:
engine = create_engine("sqlite:///database.db")

In [6]:
SQLModel.metadata.create_all(engine)

In [7]:
with Session(engine) as session:
    session.add(manager_1)
    session.add(manager_2)
    session.add(manager_3)
    session.add(manager_4)
    session.add(manager_5)
    session.commit()

In [8]:
with Session(engine) as session:
    statement = select(Manager).where(Manager.name == "James")
    result = session.exec(statement).first()
    print(result)

region='east' product_group=None id=1 name='James'

In [9]:
with Session(engine) as session:
    name_list = ('John','James')
    statement = f"select m.* from manager as m where m.name in {name_list};"
    result = session.execute(statement)
    for _ in result:
      print(_)

(1, 'James', 'east', None)
(6, 'James', 'east', None)
(2, 'John', 'north', None)
(7, 'John', 'north', None)