# Прогнозирование продаж. Часть 3. Построение модели

In [1]:
%%capture
!pip install catboost

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from catboost import Pool, CatBoostRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_string_dtype

In [4]:
df = pd.read_csv('/content/drive/MyDrive/dataset/dataset_result.csv')

In [5]:
df.head(15)

    customerid         country  total_amount  ...  2011_7 2011_8 2011_9
0        17850  United Kingdom       5391.21  ...     0.0    0.0    0.0
1        13047  United Kingdom       3237.54  ...     0.0    1.0    0.0
2        12583          France       7281.38  ...     1.0    1.0    2.0
3        13748  United Kingdom        948.25  ...     0.0    0.0    2.0
4        15100  United Kingdom        876.00  ...     0.0    0.0    0.0
5        15291  United Kingdom       4668.30  ...     0.0    0.0    1.0
6        14688  United Kingdom       5630.87  ...     2.0    1.0    2.0
7        17809  United Kingdom       5411.91  ...     0.0    1.0    0.0
8        15311  United Kingdom      60767.90  ...     8.0    6.0    7.0
9        16098  United Kingdom       2005.63  ...     1.0    1.0    1.0
10       18074  United Kingdom        489.60  ...     0.0    0.0    0.0
11       17420  United Kingdom        598.83  ...     0.0    0.0    0.0
12       16029  United Kingdom      81024.84  ...     4.0    7.0    8.0
13       16250  United Kingdom        389.44  ...     0.0    0.0    0.0
14       12431       Australia       6487.45  ...     3.0    1.0    0.0

[15 rows x 24 columns]

In [6]:
y = df['total_amount']

In [7]:
X = df.drop(columns=['customerid','total_amount'],axis=1)

In [8]:
X_col_is_string= [_ for _ in X.columns if is_string_dtype(X[_])]

In [9]:
X_col_is_string

['country',
 'top_product_1',
 'top_product_2',
 'top_product_3',
 'top_product_4',
 'top_product_5',
 'top_product_6',
 'top_product_7']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3,  random_state=42)

In [11]:
train_pool = Pool(x_train, 
                  y_train, 
                  cat_features=X_col_is_string)
test_pool = Pool(x_test, 
                 cat_features=X_col_is_string)

In [12]:
model = CatBoostRegressor(verbose=100)

In [13]:
model.fit(train_pool)

Learning rate set to 0.047564
0:	learn: 10061.9343120	total: 56.7ms	remaining: 56.7s
100:	learn: 2892.5485521	total: 938ms	remaining: 8.35s
200:	learn: 1305.9739161	total: 1.78s	remaining: 7.09s
300:	learn: 760.1677911	total: 2.58s	remaining: 5.99s
400:	learn: 479.2561425	total: 3.43s	remaining: 5.13s
500:	learn: 333.0066175	total: 4.34s	remaining: 4.32s
600:	learn: 247.7674820	total: 5.26s	remaining: 3.49s
700:	learn: 198.3606728	total: 6.2s	remaining: 2.64s
800:	learn: 170.8018623	total: 7.08s	remaining: 1.76s
900:	learn: 145.5483265	total: 7.98s	remaining: 877ms
999:	learn: 128.0116497	total: 8.86s	remaining: 0us

In [14]:
preds = model.predict(test_pool)

In [15]:
print("MSE %.3f" % mean_squared_error(preds, y_test.values))
print("MAE %.3f" % mean_absolute_error(preds, y_test.values))

MSE 3051177.044
MAE 277.065