In [1]:
%%capture
pip install fugue

In [2]:
from fugue_notebook import setup
setup()

In [3]:
import pandas as pd
from fugue_sql import fsql

In [4]:
data = pd.DataFrame({"id": ["A","A","A","B","B","B"],
                    "date": ["2020-01-01", "2020-01-02",
                             "2020-01-03", "2020-01-01", 
                             "2020-01-02", "2020-01-03"],
                    "value": [10, None, 30, 20, None, 40]})

In [5]:
query_1 = """
            SELECT id, date, MIN(value) value
            FROM data
            WHERE value > 20
            GROUP BY id
            PRINT
          """

In [6]:
fsql(query_1).run()

  id        date  value
0  A  2020-01-03   30.0
1  B  2020-01-03   40.0

DataFrames()