In [1]:
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (6.6.1)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [2]:
from faker import Faker
import csv
import pandas as pd

In [3]:
output = open('data.csv','w')

In [4]:
fake = Faker()

In [5]:
header = ['name','age', 'street','city', 'state', 'zip', 'lng', 'lat']

In [6]:
mywriter = csv.writer(output)
mywriter.writerow(header)

40

In [7]:
for _ in range(1000):
    mywriter.writerow([fake.name(),fake.random_int(min=18,max=80,step=1),fake.street_address(), 
                       fake.city(),fake.state(),fake.zipcode(),fake.longitude(),fake.latitude()])
output.close()

In [8]:
df = pd.read_csv('data.csv')
df.head(5)

                name  age  ...         lng        lat
0     Brandon Taylor   28  ... -105.149878 -58.736880
1      Evan Browning   21  ... -150.991322 -15.665220
2    Kimberly Ashley   75  ... -148.069333  61.878542
3  Jeffrey Maldonado   34  ...  120.658348 -65.722733
4  Michelle Williams   32  ...  138.957831  16.596054

[5 rows x 8 columns]