In [1]:
import pandas as pd

In [2]:
contacts = pd.read_csv('C:/Users/Pavel/Downloads/filter_explore_contacts.csv', sep='\s+', 
                       dtype={"region_id":str, "user_id":str, "search_id":str, "categoty_id":str, "subcategory_id":str,
                             "cnt":int})

In [3]:
views = pd.read_csv('C:/Users/Pavel/Downloads/filter_explore_views.csv', sep='\s+', 
                    dtype={"region_id":str, "user_id":str, "search_id":str, "categoty_id":str, "subcategory_id":str,
                             "cnt":int})

In [4]:
searches = pd.read_csv('C:/Users/Pavel/Downloads/filter_explore_searches.csv', sep='\s+',
                       dtype={"region_id":str, "user_id":str, "search_id":str, "categoty_id":str, "subcategory_id":str,
                             "default":str, "use_category":str,"search_text":str,"price_filter":str,
                             "bs_filter":str, "discount_filter":str, "delivery_filter":str, "distance_filter":str,
                             "publication_filter":str,"use_properties":str, "sorting_published":str,
                             "sorting_distance":str,"sorting_price":str })

In [5]:
df = pd.merge(searches,views, how="left", on="search_id")

In [6]:
df = df.drop(columns=["region_id_y","user_id_y","category_id_y","subcategory_id_y"])
df = df.rename(columns={'region_id_x':'region_id','user_id_x':'user_id',"category_id_x":'category_id','subcategory_id_x':"subcategory_id","cnt":"cnt_v"})

In [7]:
df = pd.merge(df,contacts, how="left", on="search_id")

In [8]:
df = df.drop(columns=["region_id_y","user_id_y","category_id_y","subcategory_id_y"])
df = df.rename(columns={'region_id_x':'region_id','user_id_x':'user_id',"category_id_x":'category_id','subcategory_id_x':"subcategory_id","cnt":"cnt_c"})

In [9]:
# Заменяем значения NaN - 0, 1,0 - 1, other - 2
df=df.fillna(0)
df = df.replace('1,0', 1)
df = df.replace('other', 2)

In [10]:
# Меняем тип столбцов cnt_v, cnt_c
df['cnt_v'] = df['cnt_v'].astype('int')
df['cnt_c'] = df['cnt_c'].astype('int')

In [12]:
df = df.groupby(by=['region_id']).agg({'search_id':'count','cnt_v':'sum','cnt_c':'sum'})

In [18]:
df['v%'] = df['cnt_v']/df['search_id']
df['c%'] = df['cnt_c']/df['search_id']
df['c%v'] = df['cnt_c']/df['cnt_v']

In [19]:
df

,search_id,cnt_v,cnt_c,v%,c%,c%v
region_id,,,,,,
D09AD180D0B0D181D0BDD0BED0B4D0B0D180D181D0BAD0B8D0B920D0BAD180D0B0D0B9,1411041,847191,33503,0.600401,0.023743,0.039546
D0A0D0BED181D182D0BED0B2D181D0BAD0B0D18F20D0BED0B1D0BBD0B0D181D182D18C,537063,325645,12338,0.606344,0.022973,0.037888
D0A1D0B2D0B5D180D0B4D0BBD0BED0B2D181D0BAD0B0D18F20D0BED0B1D0BBD0B0D181D182D18C,1100232,728291,25470,0.661943,0.023150,0.034972
D0A2D0B0D182D0B0D180D181D182D0B0D0BD,425080,266726,10239,0.627472,0.024087,0.038388