In [1]:
import pandas as pd

In [2]:
contacts = pd.read_csv('C:/Users/Pavel/Downloads/filter_explore_contacts.csv', sep='\s+', 
                       dtype={"region_id":str, "user_id":str, "search_id":str, "categoty_id":str, "subcategory_id":str,
                             "cnt":int})

In [3]:
views = pd.read_csv('C:/Users/Pavel/Downloads/filter_explore_views.csv', sep='\s+', 
                    dtype={"region_id":str, "user_id":str, "search_id":str, "categoty_id":str, "subcategory_id":str,
                             "cnt":int})

In [4]:
searches = pd.read_csv('C:/Users/Pavel/Downloads/filter_explore_searches.csv', sep='\s+',
                       dtype={"region_id":str, "user_id":str, "search_id":str, "categoty_id":str, "subcategory_id":str,
                             "default":str, "use_category":str,"search_text":str,"price_filter":str,
                             "bs_filter":str, "discount_filter":str, "delivery_filter":str, "distance_filter":str,
                             "publication_filter":str,"use_properties":str, "sorting_published":str,
                             "sorting_distance":str,"sorting_price":str })

In [5]:
df = pd.merge(searches,views, how="left", on="search_id")

In [6]:
df = df.drop(columns=["region_id_y","user_id_y","category_id_y","subcategory_id_y"])
df = df.rename(columns={'region_id_x':'region_id','user_id_x':'user_id',"category_id_x":'category_id','subcategory_id_x':"subcategory_id","cnt":"cnt_v"})

In [7]:
df = pd.merge(df,contacts, how="left", on="search_id")

In [8]:
df = df.drop(columns=["region_id_y","user_id_y","category_id_y","subcategory_id_y"])
df = df.rename(columns={'region_id_x':'region_id','user_id_x':'user_id',"category_id_x":'category_id','subcategory_id_x':"subcategory_id","cnt":"cnt_c"})

In [35]:
# Заменяем значения NaN - 0, 1,0 - 1, other - 2
df=df.fillna(0)
df = df.replace('1,0', 1)
df = df.replace('other', 2)

In [36]:
# Меняем тип столбцов cnt_v, cnt_c
df['cnt_v'] = df['cnt_v'].astype('int')
df['cnt_c'] = df['cnt_c'].astype('int')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3473416 entries, 0 to 3473415
Data columns (total 20 columns):
region_id             object
user_id               object
search_id             object
category_id           object
subcategory_id        object
default               int64
use_category          int64
search_text           int64
price_filter          int64
bs_filter             int64
discount_filter       int64
delivery_filter       int64
distance_filter       int64
publication_filter    int64
use_properties        int64
sorting_published     int64
sorting_distance      int64
sorting_price         int64
cnt_v                 int32
cnt_c                 int32
dtypes: int32(2), int64(13), object(5)
memory usage: 530.0+ MB

In [58]:
# Нет просмотра карточки объявления и контакта
df0=df[(df['cnt_v']==0)&(df['cnt_c']==0)]
# Есть просмотр карточки объявления, но нет контакта
df1=df[(df['cnt_v']!=0)&(df['cnt_c']==0)]
# Есть просмотр карточки объявления и контакт
df2=df[(df['cnt_v']!=0)&(df['cnt_c']!=0)]
# Есть контакт без просмотра карточки объявления
df3=df[(df['cnt_v']==0)&(df['cnt_c']!=0)]

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price,cnt_v,cnt_c
180750,D09AD180D0B0D181D0BDD0BED0B4D0B0D180D181D0BAD0...,31333533343636363665643063313262,3836393462393434336337383032336634663335393938...,main,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
310873,D09AD180D0B0D181D0BDD0BED0B4D0B0D180D181D0BAD0...,61653036353033366436353834353463,6435316433626339643633613132333837666433313131...,main,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
315143,D09AD180D0B0D181D0BDD0BED0B4D0B0D180D181D0BAD0...,39646231373336356261303262633436,6530666230386463386465353938336462636433316430...,main,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
639690,D0A1D0B2D0B5D180D0B4D0BBD0BED0B2D181D0BAD0B0D1...,613961623330353964333434636133,3030363761373134633134333563323534356633636530...,4,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
687100,D0A1D0B2D0B5D180D0B4D0BBD0BED0B2D181D0BAD0B0D1...,61373637383936663962633763343263,3764383430616231363334313237663133666433373063...,main,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [122]:
list_ = ["default",'use_category','search_text','price_filter','bs_filter','discount_filter',
'delivery_filter','distance_filter','publication_filter','use_properties','sorting_published',
        'sorting_distance','sorting_price']
df00=pd.DataFrame({0:[],1:[],2:[]})
for i in list_:
    y = df0[i].value_counts(1).reset_index().drop(columns=['index']).T
    df00=pd.concat([df00,y])

In [123]:
df11=pd.DataFrame({0:[],1:[],2:[]})
for i in list_:
    y = df1[i].value_counts(1).reset_index().drop(columns=['index']).T
    df11=pd.concat([df11,y])

In [124]:
df22=pd.DataFrame({0:[],1:[],2:[]})
for i in list_:
    y = df2[i].value_counts(1).reset_index().drop(columns=['index']).T
    df22=pd.concat([df22,y])

In [126]:
df33=pd.DataFrame({0:[],1:[],2:[]})
for i in list_:
    y = df3[i].value_counts(1).reset_index().drop(columns=['index']).T
    df33=pd.concat([df33,y])

In [127]:
df_total=pd.concat([df00,df11,df22,df33],axis=1)

In [138]:
df_total

,0,1,2,0,1,2,0,1,2,0,1,2
default,0.449898,0.282981,0.267122,0.592334,0.221851,0.185815,0.614221,0.228409,0.15737,0.611111,0.277778,0.111111
use_category,0.643083,0.356917,NaN,0.749946,0.250054,NaN,0.767026,0.232974,NaN,0.666667,0.333333,NaN
search_text,0.695405,0.304595,NaN,0.798024,0.201976,NaN,0.820635,0.179365,NaN,0.722222,0.277778,NaN
price_filter,0.865489,0.134511,NaN,0.897614,0.102386,NaN,0.901195,0.098805,NaN,0.833333,0.166667,NaN
bs_filter,0.960759,0.039241,NaN,0.975446,0.024554,NaN,0.972429,0.027571,NaN,0.944444,0.055556,NaN
discount_filter,0.989372,0.010628,NaN,0.993894,0.006106,NaN,0.992581,0.007419,NaN,0.944444,0.055556,NaN
delivery_filter,0.998888,0.001112,NaN,0.999102,0.000898,NaN,0.999038,0.000962,NaN,0.944444,0.055556,NaN
distance_filter,0.999860,0.000140,NaN,0.999919,0.000081,NaN,0.999951,0.000049,NaN,1.000000,NaN,NaN
publication_filter,0.999969,0.000031,NaN,0.999980,0.000020,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN
use_properties,0.999996,0.000004,NaN,0.999997,0.000003,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN
sorting_published,1.000000,NaN,NaN,0.999999,0.000001,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN
sorting_distance,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN
sorting_price,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN

In [141]:
print(df0.shape[0])
print(df1.shape[0])
print(df2.shape[0])
print(df3.shape[0])

2505388
906677
61333
18

In [143]:
df_total.to_csv("C:/Users/Pavel/youla.csv")