In [1]:
%%capture
!pip install numba

In [2]:
import pandas as pd
from math import sqrt, ceil
from numba import njit, int64, float64

In [3]:
@njit(int64(int64),cache=True)
def sum_numba(a):
  for i in range(10000):
    a = ceil(sqrt(a + i))
  return a

In [4]:
def sum_python(a):
  for i in range(10000):
    a = ceil(sqrt(a + i))
  return a

In [5]:
d = {'id':[_ for _ in range(0,10000)], 'val':[_ for _ in range(0,10000)]}

In [6]:
df = pd.DataFrame(data=d)

In [7]:
df.head()

   id  val
0   0    0
1   1    1
2   2    2
3   3    3
4   4    4

In [8]:
%%time
df['val_numba'] = df['val'].apply(lambda x: sum_numba(x))

CPU times: user 1.55 s, sys: 4.06 ms, total: 1.56 s
Wall time: 1.58 s

In [9]:
df.head()

   id  val  val_numba
0   0    0        101
1   1    1        101
2   2    2        101
3   3    3        101
4   4    4        101

In [10]:
%%time
df['val_python'] = df['val'].apply(lambda x: sum_python(x))

CPU times: user 26.8 s, sys: 63.6 ms, total: 26.8 s
Wall time: 30.4 s

In [11]:
df.head()

   id  val  val_numba  val_python
0   0    0        101         101
1   1    1        101         101
2   2    2        101         101
3   3    3        101         101
4   4    4        101         101