# Задача №1

In [1]:
#импорт библиотек
import numpy as np
import pandas as pd
import os
import copy
import openpyxl as opx

In [2]:
path_to_data = "C:/Users/Pavel/Documents/"

In [3]:
data_input = pd.read_excel(os.path.join(path_to_data, "Task1_INPUT.xlsx"),sheet_name = 0)

In [4]:
#Смотрим на массив данных, который подгрузили
data_input.head(10)

,Время активности,Имя активности,Длительность,ID вызова
0,2019-12-23 13:00:02.295,Прослушал Главное меню,37,788547601
1,2019-12-23 13:00:05.713,Прослушал Главное меню,46,788547602
2,2019-12-23 13:00:15.394,Прослушал Главное меню,10,788547607
3,2019-12-23 13:00:16.180,Прослушал Главное меню,26,788547607
4,2019-12-23 13:00:21.449,Кнопка 1 - Распределился на группу продаж,36,788547592
5,2019-12-23 13:00:23.410,Кнопка 1 - Распределился на группу продаж,52,788547585
6,2019-12-23 13:00:24.508,Прослушал Главное меню,36,788547612
7,2019-12-23 13:00:29.569,Кнопка 3 - Прослушал Главное Меню,42,788547598
8,2019-12-23 13:00:37.747,Кнопка 1 - Распределился на группу продаж,61,788547588
9,2019-12-23 13:00:39.838,Кнопка 1 - Распределился на группу продаж,37,788547601

In [5]:
data_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Время активности  736 non-null    datetime64[ns]
 1   Имя активности    736 non-null    object
 2   Длительность      736 non-null    int64
 3   ID вызова         736 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 23.1+ KB

In [6]:
#Переименовываем столбцы
new_name = ["date", "activity", "duration", "id"]
data_input_new = copy.deepcopy(data_input)
data_input_new.columns = new_name

### Проблемка!!!

In [7]:
#Вот по этой сессии абонента все верно. Первая контральная точка
data_input_new[data_input_new["id"]==788549311]

,date,activity,duration,id
691,2019-12-23 13:57:03.567,Прослушал Главное меню,155,788549311
700,2019-12-23 13:57:25.355,Кнопка 2 - Прослушал Главное Меню,155,788549311
704,2019-12-23 13:57:43.031,Кнопка 2 - Прослушал автоинформатор,155,788549311
718,2019-12-23 13:58:25.288,Кнопка 2 - Прослушал Главное Меню,155,788549311
719,2019-12-23 13:58:27.046,Кнопка 2 - Прослушал автоинформатор,155,788549311
723,2019-12-23 13:58:49.227,Кнопка 2 - Прослушал Главное Меню,155,788549311
725,2019-12-23 13:58:52.687,Кнопка 2 - Повтор Главного Меню,155,788549311
726,2019-12-23 13:58:52.689,Кнопка 2 - Прослушал Главное Меню,155,788549311
732,2019-12-23 13:59:39.060,Кнопка 2 - Распределился на оператора Поддержки,155,788549311

In [8]:
#А вот тут получается так, что одновременно на один id вешается две сессии либо я не понимаю как работает CRM)))
#Для простаты дальнейших подсчетов посчитаем, что это одна сессия. Вторая контрольная точка
data_input_new[data_input_new["id"]==788547868]

,date,activity,duration,id
98,2019-12-23 13:08:56.164,Прослушал Главное меню,37,788547868
99,2019-12-23 13:08:56.494,Прослушал Главное меню,62,788547868
107,2019-12-23 13:09:29.301,Повтор Главного меню,62,788547868
108,2019-12-23 13:09:29.647,Повтор Главного меню,62,788547868
109,2019-12-23 13:09:33.840,Кнопка 1 - Распределился на группу продаж,37,788547868
114,2019-12-23 13:09:58.592,Кнопка 1 - Распределился на группу продаж,62,788547868

In [9]:
#Удаляем дубликаты из датасета
data_input_new.drop_duplicates(['activity','id'], inplace=True)

In [10]:
#Смотрим что получилось
data_input_new[data_input_new["id"]==788549311]

,date,activity,duration,id
691,2019-12-23 13:57:03.567,Прослушал Главное меню,155,788549311
700,2019-12-23 13:57:25.355,Кнопка 2 - Прослушал Главное Меню,155,788549311
704,2019-12-23 13:57:43.031,Кнопка 2 - Прослушал автоинформатор,155,788549311
725,2019-12-23 13:58:52.687,Кнопка 2 - Повтор Главного Меню,155,788549311
732,2019-12-23 13:59:39.060,Кнопка 2 - Распределился на оператора Поддержки,155,788549311

In [11]:
data_input_new[data_input_new["id"]==788547868]

,date,activity,duration,id
98,2019-12-23 13:08:56.164,Прослушал Главное меню,37,788547868
107,2019-12-23 13:09:29.301,Повтор Главного меню,62,788547868
109,2019-12-23 13:09:33.840,Кнопка 1 - Распределился на группу продаж,37,788547868

In [12]:
#Считаем количество уникальных id по activity
counts_activity = data_input_new["activity"].value_counts()
counts_activity

Прослушал Главное меню                                   312
Кнопка 1 - Распределился на группу продаж                218
Кнопка 3 - Прослушал Главное Меню                         41
Кнопка 3 - Распределился на оператора Группы Ипотеки      35
Кнопка 4 - Голосовой помощник                             23
Кнопка 2 - Прослушал Главное Меню                         11
Повтор Главного меню                                      10
Кнопка 2 - Прослушал автоинформатор                        7
Кнопка 2 - Распределился на оператора Поддержки            7
Кнопка 3 - Распределился на оператора Группы Кредитов      2
Кнопка 2 - Повтор Главного Меню                            1
Name: activity, dtype: int64

In [13]:
#Считаем количество уникальных id в датасете
unique_id = data_input_new["id"].nunique()
unique_id

318

In [14]:
#Считаем сумму по полю duration для всех уникальных id
sum_duration = data_input_new.drop_duplicates(['id'])["duration"].sum()
sum_duration

11933

In [15]:
#Считаем среднее время обработки вызова 
mean_duration = round(sum_duration/unique_id,0)
mean_duration

38.0

In [16]:
#Получаем доступ к книге Excel
data_output = opx.load_workbook(os.path.join(path_to_data, "Task1_OUTPUT.xlsx"))

In [17]:
#Выбираем нужный лист
data_sheet = data_output.worksheets[0]

In [18]:
#Заполняем шаблон числовыми значениями
data_sheet['D2'] = counts_activity['Прослушал Главное меню']
data_sheet['D3'] = counts_activity['Кнопка 1 - Распределился на группу продаж']
data_sheet['D4'] = counts_activity['Кнопка 2 - Прослушал Главное Меню']
data_sheet['D5'] = counts_activity['Кнопка 2 - Прослушал автоинформатор']
data_sheet['D6'] = counts_activity['Кнопка 2 - Распределился на оператора Поддержки']
data_sheet['D7'] = counts_activity['Кнопка 2 - Повтор Главного Меню']
data_sheet['D8'] = counts_activity['Кнопка 3 - Прослушал Главное Меню']
data_sheet['D9'] = counts_activity['Кнопка 3 - Распределился на оператора Группы Ипотеки']
data_sheet['D10'] = counts_activity['Кнопка 3 - Распределился на оператора Группы Кредитов']
data_sheet['D12'] = counts_activity['Кнопка 4 - Голосовой помощник']
data_sheet['D13'] = counts_activity['Повтор Главного меню']
# *******************************************************************************************
data_sheet['D14'] = mean_duration

In [19]:
#Сохраняем результаты в книгу
data_output.save("Task1_OUTPUT.xlsx")